.container_12
  .jcycle
    .jcycle-slider-item
      .grid_7.jcycle-slider-item-text
        %h1 Lundium rhoncus. Maurščšžščžščžis sed porta est.
        %span
          Etiam platea uščřžščšžrna vel scelerisque nec vut lorem non tortor eu purus elit augue! Ultrices sit aliquet a tincidunt purus nunc, rhoncus, tempor dignissim cras porttitor, rhoncus. Turpis, ut ut.
          %a.slider-readmore{:href => "#"} Read More »
      .grid_5.jcycle-slider-item-image
        = image_tag "application/content/jcycle/iphone4.png"
    .jcycle-slider-item
      .grid_7.jcycle-slider-item-text
        %h1 Phasellus, tempor cum sed nec! Eros.
        %span
          Diam, sed, turpis ac rhoncus aliquet risus arcu habitasse! Dignissim cum? Est rhoncus? Turpis massa, tincidunt nunc enim mauris enim aliquam? Non nisi urna placerat ultrices enim porta tristique.
          %a.slider-readmore{:href => "#"} Read More »
      .grid_5.jcycle-slider-item-image
        = image_tag "application/content/jcycle/iphone42.png"